{{ role_name }}
=========

Role description here.

Requirements
------------

None.

Role Variables
--------------

The following are the variables used by the role and their defaults.

Dependencies
------------

None.

Example Playbook
----------------

To run the role, include it as follows.

    - hosts: all
      roles:
         - {{ role_name }}

License
-------

MIT

Author Information
------------------

Chathan Driehuys (cdriehuys@gmail.com)
